table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

form {
    font-family:helvetica;
}

p {
    font-family:helvetica;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonUpdate {background-color: #008CBA;} /* Blue */
.buttonDelete {background-color: #F54B42;} /* Red */


.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.timeline {color: grey;}
.transactions {color: green;}
.budgets {color: dodgerblue;}
.add_transaction {color: purple;}
.add_budget {color: orange;}
.chart {color: gold;}
