table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

form {
    font-family:helvetica;
}

p {
    font-family:helvetica;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.transactions {color: green;}
.budgets {color: dodgerblue;}
.add_transaction {color: purple;}
.add_budget {color: orange;}
.chart {color: gold;}
