table {
  font-family: helvetica;
  border-collapse: collapse;
}

h2 {
    font-family:helvetica;
}
h3 {
    font-family:helvetica;
}

p {
    font-family:helvetica;
}

.floatLeft {  float: left; }
.floatRight { float: right; }
.container { overflow: hidden; }


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table.a {
  table-layout: auto;
  width: 800px;
}


.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btnSmall {
  border: none;
  background-color: inherit;
  padding: 9px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}


.timeline {color: purple;}
.summary {color: orange;}
.transactions {color: green;}
.recurrences {color: dodgerblue;}
.add_transaction {color: green;}
.add_recurrence {color: dodgerblue;}


.chart {color: gold;}

.delete {color: red;}
.select {color: black;}

