table {
  font-family: helvetica;
  border-collapse: collapse;
}

h2 {
    font-family:helvetica;
}
h3 {
    font-family:helvetica;
}

p {
    font-family:helvetica;
}



td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table.a {
  table-layout: auto;
  width: 800px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btnSmall {
  border: none;
  background-color: inherit;
  padding: 9px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonUpdate {background-color: #008CBA;} /* Blue */

.timeline {color: purple;}
.summary {color: orange;}
.transactions {color: green;}
.recurrences {color: dodgerblue;}
.add_transaction {color: green;}
.add_recurrence {color: dodgerblue;}

.chart {color: gold;}

.delete {color: red;}
.select {color: black;}

