<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/add_budget.css">
</head>

<body>
    <button class="btn transactions" onclick="location.href='http://inherentvice.pythonanywhere.com/site/transactions'">Transactions</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn add_transaction" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_transaction'">Add Transaction</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<form>

    {% if budget != None %}
        Category: <input type="text" id="categoryTextBoxU" name="item" value="{{budget.category}}"><br>
        Amount: <input type="text" id="amountTextBoxU" name="price" value="{{budget.amount}}"><br>
        Amount Frequency: <input type="text" id="amountFrequencyTextBoxU" name="category" value="{{budget.amount_frequency}}"><br>
        Description: <input type="text" id="descriptionTextBoxU" name="description" value="{{budget.description}}"><br>
        Passcode: <input type="text" id="passcodeTextBox" name="passcode" value=""><br>
        <button id="{{budget.budget_id}}" onclick="updateBudget(this.id)">Update</button>
    {% else %}
        Category: <input type="text" id="categoryTextBox" name="item" value=""><br>
        Amount: <input type="text" id="amountTextBox" name="price" value=""><br>
        Amount Frequency: <input type="text" id="amountFrequencyTextBox" name="category" value=""><br>
        Description: <input type="text" id="descriptionTextBox" name="description" value="{{budget.description}}"><br>
        Passcode: <input type="text" id="passcodeTextBox" name="passcode" value=""><br>
        <button onclick="addBudget()">Insert</button>
    {% endif %}

</form>

<p>Click the "Submit" button to save the budget.</p>

<script src="/static/js/addBudget.js"></script>

</body>

