<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/add_recurrence.css">
    <script type="text/javascript">
            var prefix = "{{ prefix }}"
    </script>
</head>

<body>
    <button class="btn timeline" onclick="location.href='{{prefix}}/site/timeline'">Timeline</button>
    <button class="btn summary" onclick="location.href='{{prefix}}/site/summary'">Summary</button>
    <button class="btn transactions" onclick="location.href='{{prefix}}/site/transactions'">Transactions</button>
    <button class="btn recurrences" onclick="location.href='{{prefix}}/site/recurrences'">Recurrences</button>
    <button class="btn add_transaction" onclick="location.href='{{prefix}}/site/add_transaction'">Add Transaction</button>
    <button class="btn add_recurrence" onclick="location.href='{{prefix}}/site/add_recurrence'">Add Recurrence</button>

<form>
    {% if recurrence != None %}
        Name: <input type="text" id="nameTextBoxU" name="item" value="{{recurrence.name}}"><br>
        Amount: <input type="text" id="amountTextBoxU" name="price" value="{{recurrence.amount}}"><br>
        Recurrence Type (1=INCOME,2=EXPENSE): <input type="text" id="recTypeTextBoxU" name="recType" value="{{recurrence.rec_type.value}}"><br>
        Start Date: <input type="text" id="startDateTextBoxU" name="date" value="{{recurrence.start_date}}"><br>
        End Date: <input type="text" id="endDateTextBoxU" name="date" value="{{recurrence.end_date}}"><br>
        {% if recurrence.days_till_repeat != None %}
            Days Till Repeat: <input type="text" id="daysTillRepeatTextBoxU" name="date" value="{{recurrence.days_till_repeat}}"><br>
        {% else %}
            Days Till Repeat: <input type="text" id="daysTillRepeatTextBoxU" name="date" value=""><br>
        {% endif %}
        {% if recurrence.day_of_month != None %}
            Day of Month: <input type="text" id="dayOfMonthTextBoxU" name="date" value="{{recurrence.day_of_month}}"><br>
        {% else %}
            Day of Month: <input type="text" id="dayOfMonthTextBoxU" name="date" value=""><br>
        {% endif %}
        {% if recurrence.description != None %}
            Description:<br>
            <textarea name="description" id="descriptionTextBoxU" style="width:200px; height:100px;" >{{recurrence.description}}</textarea><br>
        {% else %}
            Description:<br>
            <textarea name="description" id="descriptionTextBoxU" style="width:200px; height:100px;" ></textarea><br>
        {% endif %}
        Passcode: <input type="text" id="passcodeTextBoxU" name="passcode" value=""><br>
        <button class="button buttonUpdate" id="{{recurrence.recurrence_id}}" onclick="updateRecurrence(this.id)">Update</button> <br>
        <p>Click the "Update" button to save the recurrence.</p>

    {% else %}
        Name: <input type="text" id="nameTextBox" name="item" value=""><br>
        Amount: <input type="text" id="amountTextBox" name="price" value=""><br>
        Recurrence Type (1=INCOME,2=EXPENSE):<input type="text" id="recTypeTextBox" name="price" value=""><br>
        Start Date: <input type="text" id="startDateTextBox" name="date" placeholder="2019-02-01 00:00:00" value=""><br>
        End Date: <input type="text" id="endDateTextBox" name="date" placeholder="2019-02-01 00:00:00" value=""><br>
        Days Till Repeat: <input type="text" id="daysTillRepeatTextBox" name="date" placeholder="" value=""><br>
        Day of Month: <input type="text" id="dayOfMonthTextBox" name="repeateDays" value=""><br>
        Description:<br>
        <textarea name="description" id="descriptionTextBox" style="width:200px; height:100px;" value=""></textarea><br>
        Passcode: <input type="text" id="passcodeTextBox" name="passcode" value=""><br>
        <button class="button" onclick="addRecurrence()">Insert</button>

        <p>Click the "Insert" button to save the recurrence.</p>

    {% endif %}

</form>

<script src="/static/js/addRecurrence.js"></script>

</body>
</html>
