<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/add_transaction.css">
</head>

<body>
    <button class="btn transactions" onclick="location.href='http://inherentvice.pythonanywhere.com/site/transactions'">Transaction</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn add_transaction" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_transaction'">Add Transaction</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<form>
    {% if transaction != None %}

        Title: <input type="text" id="titleTextBoxU" name="title" value="{{transaction.title}}"><br>
        Amount: <input type="text" id="amountTextBoxU" name="amount" value="{{transaction.amount}}"><br>
        <select id="mySelectCategoryU">
            {% for budget in budgets %}
                {% if budget.category.name ==  transaction.category.name %}
                    <option selected value="{{budget.category.name}}">{{budget.category.name}}</option>
                {% else %}
                    <option value="{{budget.category.name}}">{{budget.category.name}}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        Date: <input type="text" id="dateTextBoxU" name="date" value="{{transaction.date}}"><br>

        {% if transaction.description != None %}
            Description: <input type="text" id="descriptionTextBoxU" name="description" value="{{transaction.description}}"><br>
        {% else %}
            Description: <input type="text" id="descriptionTextBoxU" name="description" value=""><br>
        {% endif %}

        Passcode: <input type="text" id="passcodeTextBoxU" name="passcode" value=""><br>

        <button id="{{transaction.transaction_id}}" onclick="updateTransaction(this.id)">Update</button>
        <p>Click the "Update" button to update the transaction.</p>


    {% else %}
        Title: <input type="text" id="titleTextBox" name="title" value=""><br>
        Amount: <input type="text" id="amountTextBox" name="amount" value=""><br>
        Category:
        <select id="mySelectCategory">
            {% for budget in budgets %}
                <option value="{{budget.category.name}}">{{budget.category.name}}</option>
            {% endfor %}
        </select><br>
        Date: <input type="text" id="dateTextBox" name="date" placeholder="2019-02-01 00:00:00" value=""><br>
        Description: <input type="text" id="descriptionTextBox" name="description" value=""><br>
        Passcode: <input type="text" id="passcodeTextBox" name="passcode" value=""><br>
        <button onclick="addTransaction()">Insert</button>

        <p>Click the "Insert" button to insert the transaction.</p>

    {% endif %}


</form>

<script src="/static/js/addTransaction.js"></script>

</body>

</html>
