<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/add_transaction.css">
    <script type="text/javascript">
            var prefix = "{{ prefix }}"
    </script>
</head>

<body>
    <button class="btn transactions" onclick="location.href='{{prefix}}/site/transactions'">Transaction</button>
    <button class="btn budgets" onclick="location.href='{{prefix}}/site/budgets'">Budgets</button>
    <button class="btn add_transaction" onclick="location.href='{{prefix}}/site/add_transaction'">Add Transaction</button>
    <button class="btn add_budget" onclick="location.href='{{prefix}}/site/add_budget'">Add Budget</button>

<form>
    {% if transaction != None %}

        Title: <input type="text" id="titleTextBoxU" name="title" value="{{transaction.title}}"><br>
        Amount: <input type="text" id="amountTextBoxU" name="amount" value="{{transaction.amount}}"><br>
        Categories: <input type="text" id="mySelectCategoryU" name="category" value="{{",".join(transaction.get_categories())}}"><br>
        Date: <input type="text" id="dateTextBoxU" name="date" value="{{transaction.date}}"><br>

        {% if transaction.description != None %}
            Description:<br>
            <textarea name="description" id="descriptionTextBoxU" style="width:200px; height:100px;" >{{transaction.description}}</textarea><br>
        {% else %}
            Description:<br>
            <textarea name="description" id="descriptionTextBoxU" style="width:200px; height:100px;" ></textarea><br>
        {% endif %}

        Passcode: <input type="text" id="passcodeTextBoxU" name="passcode" value=""><br>

        <button class="button buttonUpdate" id="{{transaction.transaction_id}}" onclick="updateTransaction(this.id)">Update</button>
        <p>Click the "Update" button to update the transaction.</p>


    {% else %}
        Title: <input type="text" id="titleTextBox" name="title" value=""><br>
        Amount: <input type="text" id="amountTextBox" name="amount" value=""><br>
        Category:
        <select id="mySelectCategory">
            {% for budget in budgets %}
                <option value="{{budget.category.name}}">{{budget.category.name}}</option>
            {% endfor %}
        </select><br>
        Secondary Categories: <input type="text" id="mySelectCategories" name="secondary_categories" value=""><br>
        Date: <input type="text" id="dateTextBox" name="date" placeholder="2019-02-01 00:00:00" value=""><br>
        Description:<br>
        <textarea name="description" id="descriptionTextBox" style="width:200px; height:100px;" ></textarea><br>
        Passcode: <input type="text" id="passcodeTextBox" name="passcode" value=""><br>
        <button class="button" onclick="addTransaction()">Insert</button>

        <p>Click the "Insert" button to insert the transaction.</p>

    {% endif %}


</form>

<script src="/static/js/addTransaction.js"></script>

</body>

</html>
