<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

.purchases {color: green;}
.budgets {color: dodgerblue;}
.add_purchase {color: purple;}
.add_budget {color: orange;}
.chart {color: gold;}

</style>
</head>

<body>
    <button class="btn purchases" onclick="location.href='http://inherentvice.pythonanywhere.com/site/purchases'">Purchases</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn chart" onclick="location.href='http://inherentvice.pythonanywhere.com/site/chart'">Chart</button>
    <button class="btn add_purchase" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_purchase'">Add Purchase</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<form>

    {% if budget != None %}
category: <input type="text" id="categoryTextBoxU" name="item" value="{{budget[0]}}"><br>
amount: <input type="text" id="amountTextBoxU" name="price" value="{{budget[1]}}"><br>
amount frequency: <input type="text" id="amountFrequencyTextBoxU" name="category" value="{{budget[2]}}"><br>
<button id="{{budget[3]}}" onclick="updateBudget(this.id)">Update</button>
{% else %}
category: <input type="text" id="categoryTextBox" name="item" value=""><br>
amount: <input type="text" id="amountTextBox" name="price" value=""><br>
amount frequency: <input type="text" id="amountFrequencyTextBox" name="category" value=""><br>

<button onclick="addBudget()">Insert</button>
{% endif %}
</form>

<p>Click the "Submit" button to save the budget.</p>

<script>
function addBudget() {
  var category = document.getElementById("categoryTextBox").value;
  var amount = document.getElementById("amountTextBox").value;
  var amountFrequency = document.getElementById("amountFrequencyTextBox").value;

  var xhr = new XMLHttpRequest();
  var url_tmp = "http://inherentvice.pythonanywhere.com/budget/" + category + "/" + amount + "/" + amountFrequency;
   var url = url_tmp.replace(" ", "%20");

   var usrNmPwd;
    var entry = prompt("Please enter the password:", "here");

    if (entry == null || entry == "") {
        usrNmPwd = "User cancelled the prompt.";
    } else {
        usrNmPwd = entry;
    }
    xhr.withCredentials = true;
    xhr.open("POST", url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader("Authorization", "Basic " + btoa(usrNmPwd));

xhr.send(JSON.stringify({
}));
xhr.onload = function() {
  console.log("Added Budget")
  console.log(this.responseText);
  location.reload();
  alert(this.responseText);
}

}

function updateBudget(budget_id) {
  var category = document.getElementById("categoryTextBoxU").value;
  var amount = document.getElementById("amountTextBoxU").value;
  var amountFrequency = document.getElementById("amountFrequencyTextBoxU").value;

    var xhr = new XMLHttpRequest();
    var url_w_spc = "http://inherentvice.pythonanywhere.com/budget/" + budget_id + "/" + category + "/"  + amount+ "/" + amountFrequency;
    var url = url_w_spc.replace(" ", "%20");

    var usrNmPwd;
    var entry = prompt("Please enter the password:", "here");

    if (entry == null || entry == "") {
        usrNmPwd = "User cancelled the prompt.";
    } else {
        usrNmPwd = entry;
    }
    xhr.withCredentials = true;
    xhr.open("PUT", url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader("Authorization", "Basic " + btoa(usrNmPwd));

    xhr.send(JSON.stringify({

    }));

    xhr.onload = function() {
        console.log("Updated Budget")
        console.log(this.responseText);
        location.reload();
        alert(this.responseText);
    }
}


</script>

</body>

