


<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<link rel="stylesheet" type="text/css" href="/static/css/budgets.css">
</head>

<body>
    <button class="btn purchases" onclick="location.href='http://inherentvice.pythonanywhere.com/site/purchases'">Purchases</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn chart" onclick="location.href='http://inherentvice.pythonanywhere.com/site/chart'">Chart</button>
    <button class="btn add_purchase" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_purchase'">Add Purchase</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<h2>Budget</h2>
<h3>Total Spent for {{month}}/{{year}}: ${{spent_in_month}}</h3>
<h3>Monthly Budget: ${{month_limit}}</h3>
<h3>Total Spent for 2019: ${{spent_in_year}}</h3>
<h3>Yearly Budget: ${{year_limit}}</h3>
<p>
</p>

<h2>Month Budget Categories</h2>
<table class="a">
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Amount Frequency</th>
    <th>Delete?</th>
  </tr>
  {% for budget in month_budgets %}
    <tr>
        <td><p><button class="btnSmall select" id="{{budget[0]}}" onclick="openUpdatePage(this.id)"><u>{{ budget[1] }}</u></button></p><p>  {{ budget[2] }} -- {{budget[3]}} -- ${{ budget[6]}}</p></td>
        <td>${{ budget[4] }}</td>
        <td>{{ budget[5] }}</td>
        <td><button class="btnSmall delete" id="{{budget[0]}}" onclick="deleteBudget(this.id)">{{ budget[0] }}</button></td>

    </tr>
  {% endfor %}
</table>
<p>

</p>
<h2>Year Budget Categories</h2>
<table class="a">
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Amount Frequency</th>
    <th>Delete?</th>
  </tr>
  {% for budget in year_budgets %}
    <tr>
        <td><p><button class="btnSmall select" id="{{budget[0]}}" onclick="openUpdatePage(this.id)"><u>{{ budget[1] }}</u></button></p><p>{{ budget[2] }} -- {{budget[3]}} -- ${{ budget[6]}}</p></td>
        <td>${{ budget[4] }}</td>
        <td>{{ budget[5] }}</td>
        <td><button class="btnSmall delete" id="{{budget[0]}}" onclick="deleteBudget(this.id)">{{ budget[0] }}</button></td>

    </tr>
  {% endfor %}
</table>


<script src="/static/js/budgets.js"></script>

</body>


