<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>

<link rel="stylesheet" type="text/css" href="/static/css/purchases.css">

</head>

<body>
    <button class="btn purchases" onclick="location.href='http://inherentvice.pythonanywhere.com/site/purchases'">Purchases</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn chart" onclick="location.href='http://inherentvice.pythonanywhere.com/site/chart'">Chart</button>
    <button class="btn add_purchase" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_purchase'">Add Purchase</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<h2>Purchases for {{month}}/{{year}}</h2>
<h3>Total Spent for {{month}}/{{year}}: ${{spent_in_month}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Monthly Budget: ${{month_limit}}</h3>
<h3>Total Spent for {{year}}: ${{spent_in_year}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Yearly Budget: ${{year_limit}}</h3>

<p>
    <br />
</p>

<table class="a">

  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Category</th>
    <th>Date</th>
    <th>Note</th>
    <th>Delete</th>
  </tr>

  {% for purchase in purchases %}

    <tr>
        <td><button class="btnSmall select" id="{{purchase.purchase_id}}" onclick="openUpdatePage(this.id)"><u>{{ purchase.item }}</u></button></td>
        <td>${{ purchase.price }}</td>
        <td>{{ purchase.category }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.note }}</td>
        <td><button class="btnSmall delete" id="{{purchase.purchase_id}}" onclick="deletePurchase(this.id)"><u>delete</u></button></td>
    </tr>

  {% endfor %}

</table>

<script src="/static/js/purchases.js"></script>

</body>

