<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>

<link rel="stylesheet" type="text/css" href="/static/css/transactions.css">

</head>

<body>
    <button class="btn transactions" onclick="location.href='http://inherentvice.pythonanywhere.com/site/transactions'">Transactions</button>
    <button class="btn budgets" onclick="location.href='http://inherentvice.pythonanywhere.com/site/budgets'">Budgets</button>
    <button class="btn add_transaction" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_transaction'">Add Transaction</button>
    <button class="btn add_budget" onclick="location.href='http://inherentvice.pythonanywhere.com/site/add_budget'">Add Budget</button>

<ul>
        {% for link in budgets_links %}
            <li> <p><b>{{link[0]}}</b></p></li>
            <ul>
            {% for finLink in link[1] %}
                <li><button class="btn budget_pages" onclick="{{finLink[2]}}">{{finLink[1]}} Budgets</button></li>
            {% endfor %}
            </ul>
        {% endfor %}

</ul>

<!--<script src="/static/js/transactions.js"></script>-->

</body>


