<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/summary.css">
    <script type="text/javascript">
            var prefix = "{{ prefix }}"
    </script>
</head>

<body>
    <button class="btn timeline" onclick="location.href='{{prefix}}/site/timeline'">Timeline</button>
    <button class="btn summary" onclick="location.href='{{prefix}}/site/summary'">Summary</button>
    <button class="btn transactions" onclick="location.href='{{prefix}}/site/transactions'">Transactions</button>
    <button class="btn recurrences" onclick="location.href='{{prefix}}/site/recurrences'">Recurrences</button>
    <button class="btn add_transaction" onclick="location.href='{{prefix}}/site/add_transaction'">Add Transaction</button>
    <button class="btn add_recurrence" onclick="location.href='{{prefix}}/site/add_recurrence'">Add Recurrence</button>

    <h2>Summary for {{month}}/{{year}}</h2>
    <h3>Total Spent for {{month}}/{{year}}: ${{spent_in_month}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Income for {{month}}/{{year}}: ${{month_income}}</h3>
    <h3>Total Spent for {{year}}: ${{spent_in_year}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Income for {{year}}: ${{year_income}}</h3>

    <p>
        <br />
    </p>

        <table class="a">

            <tr>
                <th>Name</th>
                <th>Month Aggregation (sorted by)</th>
                <th>Year Aggregation</th>
            </tr>

            {% for aggregation in aggregations %}

                <tr>
                    <td><button class="btnSmall select" id="{{aggregation.category}}" onclick="openTransactionsPage({{year}}, {{month}}, this.id)"><u>{{ aggregation.category }}</u></button></td>
                    <td>${{ aggregation.spent_so_far_month }}</td>
                    <td>${{ aggregation.spent_so_far_year }}</td>
                </tr>

            {% endfor %}

        </table>

    <p>
        <br />
    </p>
        <table class="a">

            <tr>
                <th>Payment Method</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Due</th>
            </tr>

            {% for payment_method_aggregation in payment_method_aggregations %}

                <tr>
                    <td>{{ payment_method_aggregation[0] }}</td>
                    <td>${{  payment_method_aggregation[1] }}</td>
                    <td>${{  payment_method_aggregation[2] }}</td>
                    <td>${{  payment_method_aggregation[3] }}</td>
                </tr>

            {% endfor %}

        </table>

    <p>
        <br />
    </p>
<script src="/static/js/summary.js"></script>

</body>

</html>
