
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/css/timeline.css">
    <script type="text/javascript">
            var prefix = "{{ prefix }}"
    </script>
</head>

<body>
    <button class="btn timeline" onclick="location.href='{{prefix}}/site/timeline'">Timeline</button>
    <button class="btn transactions" onclick="location.href='{{prefix}}/site/transactions'">Transactions</button>
    <button class="btn recurrences" onclick="location.href='{{prefix}}/site/recurrences'">Recurrences</button>
    <button class="btn add_transaction" onclick="location.href='{{prefix}}/site/add_transaction'">Add Transaction</button>
    <button class="btn add_recurrence" onclick="location.href='{{prefix}}/site/add_recurrence'">Add Recurrence</button>

<p>
    <br />
</p>

<p>$2374.75</p>
<p>Last Day Bal: {{last_day_bal}}</p>
<p>Last Day Bal DIFF: {{last_day_bal_dff}}</p>

        <table class="a">
            <tr>
                <th>Balance Date</th>
                <th>Balance</th>
                <th>Income</th>
                <th>Income Description</th>
                <th>Expense</th>
                <th>Expense Description</th>
            </tr>

            {% for day in timeline_table %}

            <tr>
                <td>{{ day.balance_date }}</td>
                <td><b><font color="{{ day.bal_percent_color }}">${{ day.balance }}</font></b></td>
                <td>${{ day.income }}</td>
                <td>{{ day.income_desc }}</td>
                <td>${{ day.expense }}</td>
                <td>{{ day.expenses_desc }}</td>
            </tr>

            {% endfor %}
        </table>

    <p>
        <br />
    </p>

<script src="/static/js/timeline.js"></script>

</body>
